
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --font-base:'lexend',sans-serif;
  --font-second-base:'inter', sans-scrif;
  --bg-color:black;
  --primary-color: white;
  --secondary-color:red;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
}